.content-3 {
  //height: 40rem;
}
.img-box {
  /*width: 32rem;
  height: 100%;
  background-size: cover;
  background-position: center;*/
}

.img-1 {

  background-image: url("../images/overview-1.png");
  background-size: cover;

}
.img-2 {
  background-image: url("../images/overview-2.png");
  background-size: cover;

}

.img-4 {
  background-image: url("../images/landing-img-4.png");
  background-size: cover;
}

.img-3b {
  background-image: url("../images/overview-3.png");
  background-size: cover;
  background-position: center;
}
.img-5 {
  background-image: url("../images/landing-img-5.png");
  background-size: cover;
}

.img-ira-2 {
  background-image: url("../images/progoff-2.png");
  background-size: cover;
}



.img-3 {
  //background-image: url("../images/overview-3.png");
}

.overview-img-3 {
  //width: 120%;
}