/*Videos and Videos Embeds*/

.video {
/*  width: 32rem;
  height: 24rem;*/
/*  width: 56rem;
  height: 31.5rem;*/
  //width: 50%;
  width: 48rem;
  /*margin-top: -3.2rem;
  margin-bottom: 3.2rem;*/
  border-radius: 1rem;
}

/*width="560" height="315"*/
.youtube-iframe {
  width: 56rem;
  height: 31.5rem;

}

.section-next-steps {
  padding-bottom: 0;
}